.homepage {


  .container {
    background-image: url("./../../fashion-images/categories/image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      // Додати стилі для екранів шириною 768px і більше
      margin-left: 20px;
    }

  }

  .homepageText {
    margin-left: 345px;
    @media (max-width: 768px) {
      // Додати стилі для екранів шириною 768px і менше
      margin-left: 20px;
    }
  }

  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 4px;

    @media (max-width: 768px) {
      // Додати стилі для екранів шириною 768px і менше
      flex-direction: column;
    }
  }
  .categories p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .title {
    font-size: 72px;
    letter-spacing: 1px;
  }

  .titleText {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .buttonsTitle {
    display: inline-flex;
    gap: 24px;
  }

  .btnWrap {
    width: 112px;
    color: #17696A;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #17696A;
  }

  .btnDesk {
    width: 189px;
    height: 92px;
    background-color: #17696A;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
  }
}


