.Form {
  border: 1px solid black;



  > :is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 10px;
  }

  > input {
    background: #eeeeee;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 15px;
  }

  > button {
    background: #137777;
    cursor: pointer;
    color: #FFFFFF;
    border: 0;
    letter-spacing: 4px;
    font-size: 20px;

  }

   > a {
    color: #17696A;
    font-size: 18px;
    text-decoration: none;
  }
}