.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;


  .ModalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
  }

  .Form {
    padding: 5px;
    > :is(input, button) {
      width: 100%;
      height: 56px;
      border-radius: 10px;
      margin: 10px;
    }

    > input {
      background: #eeeeee;
      padding: 0;
      border: 0;
      text-align: center;
      font-size: 15px;
    }

    > button {
      background: #137777;
      cursor: pointer;
      color: #FFFFFF;
      border: 0;
      letter-spacing: 4px;
      font-size: 20px;
    }

    > a {
      color: #17696A;
      font-size: 18px;
      text-decoration: none;
    }
  }
  .closeButton {
    margin-top: 10px;
    cursor: pointer;
    color: #17696A;
    border-radius: 5px;
    border: 1px solid #17696A;
    padding: 5px 10px;
  }
}
