.navbar {
border:2px solid black;

  .navbar_row{
   border: 2px solid red;
    height: 128px;
    display: flex;
    //column-gap: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .logo{

  }
  .nav{
    display: flex;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 700;

  }
  .navbarBtn{
    color:red;
  }


}
