.Footer {
  background-color: #1E212C;
  width: 1543px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact {

  }

  .iconMessendger {

  }

  .touch {
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px;
  }

  .call {
    color: #FFF;
    font-size: 16px;
  }

  .app {
    margin-bottom: 50px;

  }

  .iconApp {

  }
}
